*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

body{
    background-color: #f5f6fa;
    font-family: 'Raleway', sans-serif;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.alert{
    background-color: #EA2027;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.alert p{
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.btn-alert{
    padding: 5px;
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid black;
    margin-left: 10px;
    cursor: pointer;
    color: aliceblue;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    font-size: 15px;
}

.btn-alert:hover{
    background-color: tomato;
    color: white;

}


@media(max-width: 800px){
    .alert p{
        letter-spacing: 1px;
        line-height: 26px;
        font-size: 13px;
    }
    .alert{
        flex-direction: column;
    }
    .btn-alert{
        width: 180px;
        background-color: yellowgreen;
        border-radius: 2px;
    }
 

}

/* NAVBAR - NAV-TOGGLE BUTTON */


.brand{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    width: 320px;
    border-radius: 4px;
    /* padding: 5px; */
}

.start{
    display: block;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 40px;
    text-shadow: 4px 2px;
    letter-spacing: 2px;
    
}

.end{
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 6px;
    padding: 6px;
    border-radius: 10px;
}


nav{
    height: 70px;
    background-color: white;
    color: black;
    width: 100%;
   
 
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 70px;
    

}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle{
    background: transparent;
    border-color: transparent;
    font-size: 30px;
    cursor: pointer;
}


#icon{
    display: none;
}

.leftBtn{
    display: none;
}

.leftBtn{
    position: relative;
    margin-bottom: 40px;
}

.closeBtn{
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    background-color: tomato;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #f1f1f1;
    transition: all 0.3s linear;
}

.closeBtn:hover{
    font-size: 26px;
}


.logo{
    width: 300px;
    display: flex;
}

.span-logo1{
    background-color: #ff3f34;
    color:#f1f1f1;
    display: block;
    font-size: 26px;
    letter-spacing: 8px;
    padding: 5px;
}

.span-logo2{
    background-color: black;
    color: #f1f1f1;
    display: block;
    font-size: 20px;
    letter-spacing: 8px;
    padding: 5px;
    font-size: 26px;
}

.links{
    /* height: auto; */
    display: flex;
}

.links a{
        padding: 0;
        margin: 0 0.5rem;
        color: black;
        font-size: 16px;
        transition: all 0.5s;
        text-transform: capitalize;
        letter-spacing: 2px;
}

.links a:hover{
        color: #333;
        font-weight: 800;
    
}


/* Tablet */
@media(max-width: 768px){


    .nav-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #icon{
        display: block;
    }

    .links{
        width: 50%;
        position: fixed;
        height: 100vh;
        background: white;
        top: 70px;
        left: -100%;
        transition: all 0.5s;
        flex-direction: column;
        padding-left: 15px;  
        padding-top: 10px;
        z-index: 1000;
    }

  


    .links li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

  

    .links li a:hover{
        padding-left: 15px;
    }


    nav .links.show{
        left: 0;

    }

    .leftBtn{
        display: block;
    }
}

/* Mobile */

@media(max-width: 576px){


    .nav-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #icon{
        display: block;
    }

    .links{
        width: 50%;
        position: fixed;
        height: 100vh;
        background: white;
        top: 93px;
        left: -100%;
        transition: all 0.5s;
        flex-direction: column;
        padding-left: 15px;  
        padding-top: 10px;
        z-index: 1000;
        
    }

  


    .links li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
       
    }

    .links li a:hover{
        padding-left: 15px;
      
    }


    nav .links.show{
        left: 0;

    }

    .leftBtn{
        display: block;
    }
}


/* Slide Show */


.wrapper1{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.slideshow-container{
    width: 100%;
    position: relative;
    margin: auto;
  
}

.imgSlide{
    width: 100%;
    vertical-align: middle;
    height: 60vh;
}



 
.text-center-slide{
    padding: 18px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
   
}

.text-center-slide p{
    color: #222f3e;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px;
    text-shadow: 4px 4px #ddd;
}

.dot{
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}

.btn-slide{
    padding: 10px;
    width: 120px;
    letter-spacing: 2px;
    font-size: 16px;
    background-color: #333;
    color: #ddd;
    border-radius: 4px;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;
    
}

.btn-slide:hover{
    border: 1px solid black;
    background-color: tomato;
    color: black;
}

/* Mobile */

@media(max-width:576px){
    .wrapper1{
        flex-direction: column;
    }
}

/* Tablet */

@media(max-width:768px){
    .wrapper1{
        flex-direction: column;
    }
}



/* <!-- Promotional Ads --> */

.row2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;
    background-color: #ff3f34;
}

.wrapper2{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
   
}

.col-ads20{
    flex: 25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-ads-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-ads-container button{
    width: 250px;
    margin: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #ff3f34;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.btn-ads-container button:hover{
    letter-spacing: 2px;
}

.col-ads80{
    flex: 65%;
    display: flex;
    flex-direction: column;
  
}


.deals{
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 10px;
    font-family: 'Titan One', cursive;
    color: white;
    margin-bottom: 20px;
    text-align: center;

}


.sub-offer{
    display: flex;
    flex-direction: column;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 200;
    color: white;
    position: relative;

}

.sub-offer span{
    position: relative;
    display: inline-block;
    animation: flip 2s infinite;
    animation-delay: calc(.2s)
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 10px;
    font-family: 'Titan One', cursive;
    color: white;
}

.offer1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer1 p{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 900;
    color: white;
}

.offer1 span{
    font-size: 10px;
    color: white;
}

/* Mobile */

@media(max-width:576px){

    .row2{
        flex-direction: column;
    }
    .wrapper2{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .col-ads80{
        flex: 100%;
    }

    .offer{
        font-size: 70px;
    }

    .sub-offer{
        font-size: 35px;
    }

    .deals{
        font-size: 30px;
    }

    .col-ads20{
        flex: 100%;
    }

    .btn-ads-container{
        margin-top: 10px;
    }
}

/* Tablet */

@media(max-width:768px){

    .row2{
        flex-direction: column;
    }
    .wrapper2{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .col-ads80{
        flex: 100%;
    }

    .offer{
        font-size: 70px;
    }

    .sub-offer{
        font-size: 35px;
    }

    .deals{
        font-size: 30px;
    }

    .col-ads20{
        flex: 100%;
    }

    .btn-ads-container{
        margin-top: 10px;
    }
   
}

/* 
<!-- Data Grid for Main dashboard --> */

.grid-container3{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.gridImg{
    width: 100%;
}


