*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.questions{
    width: 100%;
    margin: auto;
}

.title{
    margin-top: 15vh;
    margin-bottom: 40px;
}

.title h2{
    color: darkcyan;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.section-center{
    width: 60%;
    margin: auto;
}

.question{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
}

.question-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.question-title p{
    margin-bottom: 0;
    letter-spacing: 2px;
    color: darkcyan;
}

.question-btn{
    font-size: 20px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: green;
    transition: all 0.3s linear;
}

.question-btn:hover{
    transform: rotate(90deg);
}

.question-text{
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p{
    margin-bottom: 0;
}

/* hide text */
.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.minus-icon {
    display: none;
}

.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}