*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    min-height: 100vh;
    background: url("./hero.jpeg");
    display: grid;
    place-items: center;
}

.banner{
    background-color: white;
    padding: 4rem 0;
    border-radius: 8px;
    text-align: center;
    width: 90vh;
    max-width: 1170px;
}

.modal-btn{
    margin-top: 20px;
    background-color: royalblue;
    border-color: blue;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

.modal-btn:hover{
    background: transparent;
    color: #333;
    
}

h1{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e6f1fc;
    display: grid;
    place-items: center;
    visibility: hidden;
    transition: all 0.3s linear;
    z-index: -10;
}

.open-modal {
    visibility: visible;
    z-index: 10;
  }

.modal-container{
    background-color: white;
    width: 90vh;
    height: 30vh;
    max-width: 1170px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
}

.closed-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: tomato;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .closed-btn:hover {
    color: lightcoral;
    transform: scale(1.3);
  }