*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #f1f2f6;
    border-radius: 4px;
}

.section-center h3{
    text-transform: uppercase;
    font-size: 40px;
    color: #0a3d62;
    padding: 10px;
    letter-spacing: 2px;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin: auto;
}

.form{
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    color: #0a3d62;
}

input {
    padding: 0.25rem 0.5rem;
    width: 4rem;
    border: none;
    margin: 0 0.5rem;
    font-size: 1.25rem;
  }
button {
    background: #0a3d62;
    letter-spacing: 2px;
    color: white;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover{
    background: transparent;
    outline: 1px solid #0a3d62;
    color: #0a3d62;
    font-weight: 500;
}

.result{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}