*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    
}


.main{
    display: flex;
    flex-direction: row;
    height: 80%;
    /* background-color: #ddd; */
    margin: 20px;
    padding: 15px;
}

.main-img{
    width: 50%;
    display: flex;
    background-color: yellowgreen;
}

.main-text{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:aliceblue;
}

.img{
    width: 100%;
}

.main-text h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #273c75;
}

.giveaway{
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #487eb0;
}

.main-text p{
    letter-spacing: 2px;
    text-align: center;
    color: #7f8fa6;
}


.deadline{
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    padding: 10px;
    display: flex;
}

.deadline-format{
    background-color: #333;
    margin-left: 10px;
    width: 100px;
}

.deadline-format div{
    padding: 5px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.deadline-format div span{
    margin-top: 10px;
    text-transform: uppercase;
    color: #ddd;
}

.deadline-format div h4:not(.expired){
    font-size: 30px;
}


@media(max-width: 650px){
    .main{
        flex-direction: column;
    }

    .main-img{
        width: 100%;
    }

    .main-text{
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }

    .giveaway{
        line-height: 25px;
    }
}